<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myattendance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAttendance">
        <activity
            android:name=".StudentDashActivity"
            android:exported="false" />
        <activity
            android:name=".TrialActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceAddActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAttendanceStudent"
            android:exported="false" />
        <activity
            android:name=".FacultyViewActivity"
            android:exported="false" />
        <activity
            android:name=".ViewStudentActivity"
            android:exported="false" />
        <activity
            android:name=".StudentAddActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyAddActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceSessionActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>